.azul {
  color: $secondary-blue;
}

nav .navbar-nav li a {
  text-transform: uppercase;
  color: $text-blue !important;

  &:hover {
    color: $primary-green !important;
  }
}

nav .nav-item {
  padding-inline: 1rem;
}

.masthead {
  padding: {
    top: 10.5rem;
    bottom: 4rem;
  }

  text-align: center;
  color: $primary-green;

  background: {
    image: url("./imgs/treadmill.jpg");
    repeat: no-repeat;
    attachment: scroll;
    position: center center;
    size: cover;
  }
}

.head{
  padding: {
    top: 10.5rem;
    bottom: 6rem;
  }

  text-align: center;
  color: $primary-green;

}


.masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  text-shadow: 1px 1px 2px #232923;
}

.masthead-heading {
  text-shadow: 2px 2px 2px #232923;
  animation: {
    name: fade-in__secundario;
    duration: 2s;
  }
}

.masthead-subheading {
  color: $white;
  animation: {
    name: fade-in__principal;
    duration: 2s;
  }
}

@keyframes fade-in__principal {
  0% {
    opacity: 0;
    transform: translate(0, -40px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fade-in__secundario {
  0% {
    opacity: 0;
    transform: translate(0, 40px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

header.masthead .masthead-heading {
  font: {
    size: 3.25rem;
    weight: 700;
  }
  line-height: 3.25rem;
  margin-bottom: 1.5rem;
}


.index__content {
  color: $text-blue;
  font-family: $font-secondary;
  text-align: center;

  h2 {
    font-size: 2.5rem;
    font-weight: 800;
    padding-bottom: 0.8rem;
  }

  h3 {
    font-size: 1.8rem;
    padding-bottom: 0.6rem;
  }
}

@media (min-width: 768px) {
  header.masthead {
    padding: {
      top: 17rem;
      bottom: 12.5rem;
    }
  }

  header.masthead .masthead-subheading {
    font-size: 2.25rem;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }

  header.masthead .masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
  }
}

@media (min-width: 992px) {
  .index__content {
    text-align: left;
  }
}

